.wrapper-box {
    background: rgba(51, 139, 255, 0.08);
    border: 1px solid rgba(51, 139, 255, 0.64);
    box-shadow: inset 0px 0px 16px 0px rgba(51, 139, 255, 0.4);
    position: relative;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .angle {
        background: url("../../assets/1.png") no-repeat;
        width: 32px;
        height: 32px;
        position: absolute;
    }
    .angle-1 {
        transform: translate(-13px, -13px) scale(50%);
        left: 0;
        top: 0;
    }
    .angle-2 {
        transform: translate(13px, -13px) scale(50%) rotate(90deg);
        right: 0;
        top: 0;
    }
    .angle-3 {
        transform: translate(13px, 13px) scale(50%) rotate(180deg);
        right: 0;
        bottom: 0;
    }
    .angle-4 {
        transform: translate(-13px, 13px) scale(50%) rotate(-90deg);
        left: 0;
        bottom: 0;
    }
}
